@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins",sans-serif;
}
body{
    height: 250vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 85, 85);
}
.image{
    margin-top: 10px;
    margin-bottom: 10px;
    height:200px;
    width:200px;
    border-radius: 900%;
    background-color: #000000;
    padding: 10px;
    display: flex;    
}
.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
}
.profile-card{
    max-width: 1000px;
    height: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    justify-content: center;
    align-items: center;

}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
}
.text-data .name{
    font-size: 22px;
    font-weight: 500;
}
.text-data .job{
    text-align-last: center;
    font-size: 15px;
    font-weight: 400;
}
.profile-card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: rgb(254, 254, 255);
    text-decoration: none;
}
.media-buttons{
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.profile-card .buttons{
    align-items: center;
    display: flex;
    margin-top: 25px;
}
.buttons .button{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: #292929;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons .button:hover
{
    background-color: rgb(139, 139, 139);
}
.profile-card .analytics
{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.analytics .data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border: 2px solid #ffff;
}
.data i{
    font-size: 18px;
    margin-right: 6px;
}
.data :last-child
{
    border-right: none;
}
.profile-card::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 5%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #3c3c3c;
}
